# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Anaconda
.anaconda/*
anaconda3/*
*/anaconda3/*
**/anaconda3/**
.venv/
.env.local
.env*
env*
venv_crewai/*
